<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/92c22ce958.js" crossorigin="anonymous"></script>
    <title>Home-work</title>
</head>

<body class="bg-secondary">
    <!-- Header -->
    <header class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg p-3 navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Mongo Scrapper</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Saved Articles</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-warning mr-2" href="#">SCRAP NEW
                                    ARTICLE</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-warning" href="#">CLEAR ARTICLES</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron jumbotron-fluid text-white" style="background-color: teal">
            <div class="text-center container">
                <h1 class="pt-5 display-4 font-weight-bold" style="font-family: 'Times New Roman', Times, serif;">Mongo
                    Scraper</h1>
                <h3 class="lead pb-5" style="font-family: 'Times New Roman', Times, serif;">New York Times Edition</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <button id="arts" class="btn btn-info">Arts</button>
                <button id="home" class="btn btn-info">Home</button>
                <button id="science" class="btn btn-info">Science</button>
                <button id="us" class="btn btn-info">US</button>
                <button id="world" class="btn btn-info">World</button>
            </div>
        </div>
    </div>

    <!-- Article -->
    <div class="container">
        <div class="row">
            <div class="col" id="articleContainer">
                <!-- Article container -->
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="container bg-dark text-light text-center p-3">
        <div class="row">
            <div class="col">Footer</div>
        </div>
    </footer>

    <!-- javascript link -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

            getAllArticles("arts");

            function getAllArticles(category = "science") {
                const apiKey = 'GtAZFbeMmDhB2G3BNnec7u7yPJdynO8e';

                $.ajax({
                    url: `https://api.nytimes.com/svc/topstories/v2/${category}.json?api-key=${apiKey}`,
                    method: 'GET'
                }).then(res => {
                    const result = res.results
                    console.log(result)

                    result.forEach(article => {
                        $('#articleContainer').append(`
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5><a href="#" class="link">${article.title}</a></h5>
                                    <small><strong>${Date(article.published_date)}</strong></small><br /><br />
                                    <p>${article.abstract}</p>
                                    <a href=${article._id}><button class="btn btn-primary"><i class="fas fa-plus"></i> Save Article</button>
                                </div>
                            </div>
                        `)
                    });
                })
            }
        })
    </script>
</body>

</html>